<section>
  <h1>À propos de ce blog</h1>
  <p style="margin-bottom: 0.5em">Avant, ce blog portait principalement sur <a href="/blog/categories/cinema/">le cinéma</a> et <a href="/blog/categories/anime/">l'animation japonaise</a>.</p>
  <p style="margin-bottom: 0.5em">Maintenant, ça parle plutôt de mes <a href="/blog/categories/voyage/">péripéties</a> au <a href="/blog/categories/japon/">Japon</a> et en <a href="/blog/categories/chine/">Chine</a>. Bonne lecture !</p>
  <h1>À propos de l'auteur</h1>
  <a href="https://jill-jenn.net">Jill-Jênn Vie</a>
  <a href="https://jill-jenn.net"><img src="/images/jilljenn.jpg" alt="Jill-Jênn Vie" title="Jill-Jênn Vie" /></a>
  <p>Chercheur en IA à RIKEN AIP, Tokyo.</p>
  <a href="https://twitter.com/jjvie" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @jjvie</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</section>
